@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  padding: 0;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.respons {
  color: '#8B4320';
  text-shadow: '5px 2px 4px rgba(0, 0, 0, 0.2)';
  font-weight: 'bold';
}

@media (max-width:600px) {
  .respons {
      display: none;
  }
} 